---
layout: about
title: About
---

<h2>About</h2>

<h3>Myself:</h3>
I am a High School student at CS Academy, Kovaipudur. I love to do CTFs with my team <a href="https://ctftime.org/team/130265">The Order Of The Phoenix</a>. I mainly contribute to my team in the field of Binary Exploitation and Reverse Engineering.

<h3>What I do:</h3>
I learn the internals of how a binary works and I try to understand the working of ELFs. Most of the time I try to find bugs in the Binaries and also do YoutTube videos for the community.

<h3>Social Media Links</h3>
Discord: <a href="https://discord.gg/59AdxGP">Discord Link</a>
<br>
YouTube: <a href="https://www.youtube.com/channel/UCeM_QmZx6NodzwSqo7tWHxA?view_as=subscriber">YouTube Link</a> 
<br>
Twitter: <a href="https://twitter.com/tourpran">Twitter link</a>
<br>
LinkedIn: <a href="https://www.linkedin.com/in/tourpran/">LinkedIn</a>